<div class="mt-4 mr-4 ml-4">
    <h1 class="text-center">{{name}}</h1>

    <form action="/managerMovie/moreInfor" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Movie Id</label>
                <input type="text" class="form-control" value="{{movieId}}" name="movieId" disabled>
            </div>

            <div class="form-group col-md-4">
                <label>Category id</label>
                <input type="number" min="0" class="form-control" value="{{categoryId}}" name="categoryId" disabled>
            </div>

            <div class="form-group col-md-4">
                <label>SeriesNo</label>
                <input type="text" class="form-control" value="{{categoryId}}" name="seriesNo" disabled>
            </div>


            <input type="text" class="form-control" value="{{movieId}}" name="movieId" hidden>
            <input type="number" min="0" class="form-control" value="{{categoryId}}" name="categoryId" hidden>
            <input type="text" class="form-control" value="{{categoryId}}" name="seriesNo" hidden>


        </div>

        <h3 class="text-center mt-4  mb-4">Add more information</h3>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Media Url</label>
                <input type="text" class="form-control" placeholder="Media Url" name="mediaUrl" autocomplete="off"
                    required>
            </div>

            <div class="form-group col-md-12">
                <label>Subtitling Url</label>
                <input type="text" class="form-control" placeholder="Subtitling Url" name="subtitlingUrl"
                    autocomplete="off" required>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <label>Episode Id</label>
                <input type="text" class="form-control" placeholder="Episode Id" name="episodeId" autocomplete="off"
                    required>
            </div>

            <div class="form-group col-md-4">
                <label>Language</label>
                <input type="text" class="form-control" placeholder="Language" name="language" autocomplete="off"
                    required>
            </div>

            <div class="form-group col-md-4">
                <label>LanguageAbbr</label>
                <input type="text" class="form-control" placeholder="LanguageAbbr" name="languageAbbr"
                    autocomplete="off" required>
            </div>


        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>